{% extends "layout.html" %}
{% block title %}Not Authorized{% endblock %}
{% block page %}Not Auhtorized{% endblock %}

{{ super() }}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 10%;">
            <div class="container">
                <h1>401 Unauthorized</h1>
                <p>Sorry, you are not authorized to access this page.</p>
                <p>{{error}}</p>
                <a href="{{ url_for('auth_views.show_login_form') }}">Go to Login Page</a>
            </div>

            <div class="card-action">
                <a href="/" class="waves-effect waves-light btn">Go Home</a>
                <a href="javascript:history.back()" class="waves-effect waves-light btn">Go Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}