{% extends "layout.html" %}

{% block title %}Login/SignUp - ConnectiveTech🔗{% endblock %}
{% block page %}Login/SignUp - ConnectiveTech🔗{% endblock %}

{% block content %}

<video autoplay muted loop id="background-video">
    <source src="{{ url_for('static', filename='images/background.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div class="container" id="container">
    {% if is_authenticated %}
   
    {% if current_user.account_type == 'student' %}
    <h2>Welcome back, {{ current_user.username }}</h2>
    <p>Ready to explore new internship opportunities? Check out the latest listings tailored for you!</p>
    {% elif current_user.account_type == 'company' %}
    <h2>Welcome back, {{ current_user.username }} - {{current_user.company_name}}!</h2>
    <p>Looking to find the perfect candidates for your Projects? Post a new internship or view applications for your listings.</p>
    {% endif %}

    <div class="dashboard-button-container">
        <a href="{{ url_for('auth_views.dashboard') }}" class="btn">View Dashboard</a>
    </div>
    {% else %}

    <div class="form-container sign-up-container" id="sign-up">
        <form action="{{ url_for('auth_views.register') }}" method="POST">
            <h1>Create Account</h1>
            <div class="account-type">
                <p>Are you a:</p>
                <label>
                    <input type="radio" id="student" name="accountType" value="student" checked>
                    <span>Student</span>
                </label>
                <label>
                    <input type="radio" id="company" name="accountType" value="company">
                    <span>Company</span>
                </label>
            </div>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <div id="companyNameField" style="display: none;">
                <input type="text" id="companyName" name="companyName" placeholder="Company Name">
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
   
    <!-- Sign in form -->
    <div class="form-container sign-in-container" id="sign-in">
        <form action="{{ url_for('auth_views.login_action') }}" method="POST">
            <h1>Sign in</h1>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <a href="#">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>
    {% endif %}
</div>

<script>
    // JavaScript to toggle the visibility of the Company Name field
    document.addEventListener('DOMContentLoaded', function() {
        const accountTypeRadios = document.querySelectorAll('input[name="accountType"]');
        const companyNameField = document.getElementById('companyNameField');
        function toggleCompanyNameField() {
            companyNameField.style.display = document.getElementById('company').checked ? 'block' : 'none';
        }
        accountTypeRadios.forEach(function(radio) {
            radio.addEventListener('change', toggleCompanyNameField);
        });
        toggleCompanyNameField(); // Call on initial load
    });
</script>
{% endblock %}
